<footer>
    <div class="footer-container">
        <div class="footer-logo">
            <div class="logo-img">
                <a href="#">
                    <img src="assets/main/logo-footer-swagelok.svg">
                </a>
            </div>
        </div>
        <div class="footer-contacts">
            <p class="contacts-title">Контакты</p>
            <div class="contacts-ref">
                <p class="ref-title">Email:</p>
                <p class="ref-text"><a href="mailto:mail@swagelok.su">mail@swagelok.su</a></p>
                <p class="ref-title">Телефон:</p>
                <p class="ref-text"><a href="tel:79000000000">+7 (###) ###-##-##</a></p>
            </div>
        </div>
        <div class="footer-links">
            <p><a href="#">Политика конфиденциальности</a></p>
            <p>© 2009-2022</p>
        </div>
    </div>
</footer>