<footer>
    <div class="footer-container">
        <div class="footer-logo">
            <div>
                <img src="assets/main/logo-footer-swagelok.svg">
            </div>
            <div>
                <a href="#">Политика конфиденциальности</a>
                <pg>© 2009-2022</pg>

            </div>

        </div>
        <div></div><div></div>
        <div class="footer-contacts">
            <p class="contacts-title" style="margin-bottom: 50px;">Контакты</p>
            <p class="contacts-title">Email:</p>
            <a href="mailto:mail@swagelok.ru">mail@swagelok.ru</a>
            <p class="contacts-title">Адрес:</p>
            <a href="mailto:mail@swagelok.ru">mail@swagelok.ru</a>
            <p class="contacts-title">Телефон:</p>
            <a href="tel:79000000000">+7 (###) ###-##-##</a>
        </div>

    </div>
</footer>