<header>
    <div class="header-container">
        <div class="header-logo">
            <img src="/assets/main/logo-swagelok.svg">
        </div>
        <div class="header-contacts">
            <div class="contacts-mail">
                <a href="mailto:main@swagelok.ru">mail@swagelok.ru</a>
            </div>
            <div class="contacts-phone">
                <a href="tel:+70000000000">+ 7 (###) ###-##-##</a>
            </div>
        </div>
    </div>
</header>
<div class="header-divider"></div>