<header>
    <div class="header-container header-h header-high">
        <div class="header-logo">
            <img src="/assets/main/logo-sw.svg" alt="">
        </div>
        <div class="header-burger" data-bs-toggle="collapse" data-bs-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
            <img src="/assets/main/header-burger.svg" alt="">
        </div>
        <div class="header-contacts">
            <div class="contacts-mail">
                <a href="mailto:main@swagelok.su">mail@swagelok.su</a>
            </div>
            <div class="contacts-phone">
                <a href="tel:+74953242006">+7 (495) 324-20-06</a>
            </div>
        </div>
    </div>
    <div class="collapse collapse-container" id="collapseExample">
        <div class="card">
            <div class="collapse-mail">
                <a href="mailto:mail@swagelok.su">mail@swagelok.su</a>
            </div>
            <div class="collapse-phone">
                <a href="tel:+74953242006">+7 (495) 324-20-06</a>
            </div>
        </div>
    </div>
</header>
<div class="header-divider header-h header-high"></div>