<div class="modal fade" id="modalOffer" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="modalOfferLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-close-btn">
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="body-title">Как заказать?</div>
                <form class="modal-form-offer">
                    <div class="form-input-group">
                        <input class="form-control input-email" type="text" placeholder="Email">
                        <label class="textarea-label" for="modalTextarea">Сообщение</label>
                        <textarea class="form-control input-area"></textarea>
                    </div>
                    <div class="form-send-group">
                        <p class="send-text">Отправьте нам список необходимого вам оборудования и укажите Email.</p>
                        <button type="button" class="btn btn-modal-send">Отправить</button>
                    </div>
                </form>
            </div>

            <!--div class="modal-body">

            </div-->
        </div>
    </div>
</div>