.banner {
    background-image: url("/assets/main/banner-swagelok.png");
    background-repeat: no-repeat;
    background-size: 100%;

    @media (max-width: 320px) {
        background-size: unset;
        background-image: url("/assets/main/banner-swagelok-sm.png");
    }

    .banner-container {
        .banner-title {
            padding-top: 50px;
            padding-bottom: 10px;

            font-weight: 600;
            font-size: 41px;
            line-height: 49px;

            color: white;

            @media (max-width: 320px) {
                font-size: 26px;
                line-height: 31px;
            }
        }
        .banner-text {
            width: 500px;

            font-size: 17px;
            line-height: 20px;
            color: white;

            @media (max-width: 320px) {
                font-size: 17px;
                line-height: 20px;
                width: 100%;
            }
        }
        .how-to-offer-btn {
            @media (max-width: 320px) {
                width: 80%;
                margin-left: 10%;
                margin-right: 10%;

                font-size: 21px;
                line-height: 26px;
                padding: 10px 40px;
            }
        }
    }
}
