.banner {
    background: url("/assets/main/banner-sw.jpg") top center no-repeat;

    @media (min-width: 1921px) {
        background-size: 100%;
        display: flex;
        justify-content: space-evenly;
    }

    @media (max-width: 768px) {
        background-position-x: -670px;
    }

    @media (max-width: 576px) {
        background-position-x: -820px;
    }

    @media (max-width: 425px) {
        background-position-x: -975px;
    }

    .banner-container {
        @media (max-width: 375px) {
            padding: 20px;
        }

        .banner-title {
            padding-top: 50px;
            padding-bottom: 10px;

            font-weight: 600;
            font-size: 41px;
            line-height: 49px;

            color: white;

            @media (max-width: 576px) {
                font-size: 28px;
                line-height: 35px;
            }

            @media (max-width: 425px) {
                padding-top: 4.7vw;
                font-size: 27px;
            }

            @media (max-width: 320px) {
                font-size: 26px;
                line-height: 31px;
                padding-top: 20px;
            }
        }

        .banner-text {
            width: 500px;

            font-size: 17px;
            line-height: 20px;
            color: white;

            @media (max-width: 576px) {
                width: 100%;
            }
        }
        .how-to-offer-btn {

            @media (max-width: 576px) {
                font-size: 22px;
                padding: 10px 50px;
            }

            @media (max-width: 425px) {
                box-shadow: 0 0 5px 0 rgba(0, 0, 0, .25);
                width: 100%;

                font-size: 21px;
                line-height: 26px;
                padding: 10px 40px;
            }
        }
    }
}
