.categories {
    .category-container {
        .category-title {
            padding-top: 86px;
            padding-bottom: 70px;
            font-weight: 600;
            font-size: 41px;
            line-height: 49px;

            color: #004D9E;
        }
        .category-grid {
            @media (max-width: 1920px) {
                grid-template-columns: repeat(4, auto);
            }
            @media (max-width: 768px) {
                grid-template-columns: repeat(2, auto);
            }

            @media (max-width: 425px) {
                grid-template-columns: auto;
            }

            display: grid;
            row-gap: 15px;
            column-gap: 70px;
            grid-template-columns: repeat(2, auto);

            .category-frame {
                @media (max-width: 1920px) {
                    max-width: 213px;
                }

                @media (max-width: 425px) {
                    max-width: unset;
                    width: 100%;
                    min-width: 280px;
                }

                .image {
                    width: 100%;

                    img {
                        width: inherit;
                    }
                }

                .description {
                    display: flex;
                    flex-direction: column;
                    justify-content: space-around;

                    .header {
                        font-weight: 600;
                        font-size: 22px;
                        line-height: 26px;
                        color: #000000;

                        margin-top: 20px;
                        margin-bottom: 10px;
                    }

                    .list {
                        font-weight: 400;
                        font-size: 17px;
                        line-height: 20px;
                        padding: 0;

                        li {
                            margin: 20px 0;
                        }
                    }
                }
            }
        }
    }
}