.categories {
    .category-container {
        .category-title {
            padding-top: 86px;
            padding-bottom: 70px;
            font-weight: 600;
            font-size: 41px;
            line-height: 49px;

            color: #004D9E;

            @media (min-width: 1921px) {
                margin-left: 7vw;
            }

            @media (max-width: 1024px) {
                padding-top: 55px;
                padding-bottom: 41px;
            }

            @media (max-width: 768px) {
                padding-top: 39px;
                padding-bottom: 31px;
            }
        }
        .category-grid {
            @media (min-width: 1921px) {
                grid-template-columns: repeat(4, auto);
                justify-content: space-evenly;
            }

            @media (max-width: 1920px) {
                grid-template-columns: repeat(4, auto);
            }

            @media (max-width: 1024px) {
                grid-template-columns: repeat(3, auto);
            }

            @media (max-width: 768px) {
                grid-template-columns: repeat(2, auto);
            }

            @media (max-width: 425px) {
                grid-template-columns: auto;
            }

            display: grid;
            row-gap: 15px;
            column-gap: 70px;

            .category-frame {

                @media (min-width: 1921px) {
                    width: 15vw;
                }

                @media (max-width: 1920px) {
                    width: 11.6vw;
                }

                @media (max-width: 1440px) {
                    width: 14.5vw;
                }

                @media (max-width: 1280px) {
                    width: 14vw;
                }

                @media (max-width: 1024px) {
                    width: 23vw;
                }

                @media (max-width: 576px) {
                    max-width: unset;
                    width: 34vw;
                }

                @media (max-width: 425px) {
                    max-width: unset;
                    width: 100%;
                    min-width: 280px;
                }

                .image {
                    width: inherit;

                    img {
                        width: inherit;
                    }
                }

                .description {
                    display: flex;
                    flex-direction: column;
                    justify-content: space-around;

                    .header {
                        font-weight: 600;
                        font-size: 22px;
                        line-height: 26px;
                        color: #000000;

                        margin-top: 20px;
                        margin-bottom: 10px;
                    }

                    .list {
                        font-weight: 400;
                        font-size: 17px;
                        line-height: 20px;
                        padding: 0;

                        li {
                            margin: 20px 0;
                        }
                    }
                }
            }
        }
    }
}