body {
    all: unset;
}
header, p, a, ul {
    padding: 0;
}

header, p, a, ul, li {
    margin: 0;
}

header, p, a, ul, li, div {
    border: 0;
    border-spacing: 0;
}

header {
    max-width: 1920px;
}

p, a, label, div, ul, li {
    font-family: 'Rubik', Arial, sans-serif;
    font-weight: 400;
}

a {
    text-decoration: none !important;
}

ul {
    list-style: none;
}

.how-to-offer-btn,
.how-to-offer-btn-bottom {
    margin: 0;
    margin-top: 10px;
    margin-bottom: 45px;
    padding: 15px 64px;
    border-radius: 33px;
    border: 0;
    font-weight: 600;

    transition: .5s;
}

.how-to-offer-btn-bottom {
    color: white;
    background: #66B645;

    &:hover {
        transition: .5s;
        background: #004D9E;
    }
}

.how-to-offer-btn {
    color: #66B645;
    background: white;

    @media (max-width: 576px) {
        margin-top: 10px;
        margin-bottom: 7.8125vw;

    }

    @media (max-width: 425px) {
        margin-top: 10px;
    }

    &:hover {
        transition: .5s;
        color: white;
        background: #004D9E;
    }
}

@media (max-width: 1920px) {
    .header-container,
    .banner-container,
    .text-container,
    .category-container,
    .h-t-o-container,
    .footer-container {
        padding-left: 21.19791666666667vw;
        padding-right: 21.19791666666667vw;
    }

    .how-to-offer-btn,
    .how-to-offer-btn-bottom {
        font-size: 24px;
        line-height: 28px;
    }
}

@media (max-width: 1440px) {
    .header-container,
    .banner-container,
    .text-container,
    .category-container,
    .h-t-o-container,
    .footer-container {
        padding-left: 12.84722222222222vw;
        padding-right: 12.84722222222222vw;
    }
}

@media (max-width: 1024px) {
    .header-container,
    .banner-container,
    .text-container,
    .category-container,
    .h-t-o-container,
    .footer-container {
        padding-left: 6.54296875vw;
        padding-right: 6.54296875vw;
    }
}

@media (max-width: 768px) {
    .header-container,
    .banner-container,
    .text-container,
    .category-container,
    .h-t-o-container,
    .footer-container {
        padding-left: 8.07291666666667vw;
        padding-right: 8.07291666666667vw;
    }
}

@media (max-width: 425px) {
    .header-container,
    .banner-container,
    .text-container,
    .category-container,
    .h-t-o-container,
    .footer-container {
        padding-left: 9.88235294117647vw;
        padding-right: 9.88235294117647vw;
    }
}

@media (max-width: 320px) {
    .header-container,
    .text-container,
    .category-container,
    .h-t-o-container,
    .footer-container {
        padding-left: 6.25vw;
        padding-right: 6.25vw;
    }
}