.header-h {
    height: 66px;
}

.header-high {
    height: 122px;
    transition: .5s;
}

.header-divider {
    border: 0;
    padding: 0;
    margin: 0;
    transition: .5s;
}
header {
    background: white;
    width: 100%;
    transition: .5s;
    position: fixed;

    .header-container {
        transition: .5s;
        display: flex;
        align-items: center;
        justify-content: space-between;

        .header-burger {
            @media (min-width: 576.1px) {
                display: none;
            }
        }
        .header-contacts {
            @media (max-width: 768px) {
                flex-direction: column;
                row-gap: 15px;
                align-items: end;
            }

            @media (max-width: 576px) {
                display: none;
            }

            display: flex;
            flex-direction: row;
            column-gap: 71px;

            a {
                color: black;
            }

            .contacts-mail {
                text-align: right;
                width: 11.09375vw;

                @media (max-width: 768px) {
                    width: 25.26041666666667vw;
                }
            }

            .contacts-phone {
                text-align: right;
                width: 213px;
            }
        }
    }

    .collapse-container {
        .card {
            border: 0;
            text-align: center;
            align-items: center;

            div + div {
                margin-top: 20px;
                margin-bottom: 40px;
            }
        }
    }
}