.how-to-offer {
    .h-t-o-container {
        padding-top: 6.25vw;
        padding-bottom: 9.375vw;
        display: flex;
        justify-content: center;
        align-items: center;

        button {
            @media (max-width: 425px) {
                margin: 0;
                font-size: 21px;
            }
        }
    }
}