.how-to-offer {
    .h-t-o-container {
        padding-top: 120px;
        padding-bottom: 183px;
        display: flex;
        justify-content: center;
        align-items: center;

        @media (max-width: 425px) {
            padding-top: 40px;
            padding-bottom: 80px;
        }

        button {
            @media (max-width: 425px) {
                margin: 0;
                font-size: 22px;

            }
        }

    }
}