.modal-dialog {
    @media (max-width: 425px) {
        margin: 0 9.4vw;
    }
    @media (max-width: 320px) {
        margin: 0 20px;
    }

}
.modal-content {
    border-radius: 24px !important;

    .modal-close-btn {
        display: flex;
        justify-content: end;
        padding: 10px;
    }

    .modal-body {
        padding: 0 31px;
        padding-bottom: 53px;

        @media (max-width: 576px) {
            padding: 0 40px;
        }

        .body-title {
            text-align: center;
            font-weight: 700;
            font-size: 24px;
            line-height: 27px;
            color: #66B645;
            margin: 0;

            margin-bottom: 20px;
        }

        .modal-form-offer {
            .form-input-group {
                float: left;
                align-items: center;

                @media (max-width: 576px) {
                    float: unset;
                    margin-bottom: 34px;
                }

                .input-email {
                    margin-bottom: 15px;
                }

                .textarea-label {
                    text-align: center;
                    font-weight: 400;
                    font-size: 15px;
                    line-height: 18px;
                    width: 100%;
                    color: #004D9E;
                    margin-bottom: 10px;
                }

                .input-area {
                    height: 150px;
                }
            }
            .send-text {
                float: right;
                width: 45%;
                font-weight: 400;
                font-size: 15px;
                line-height: 17px;

                color: #004D9E;
                margin-bottom: 8em;

                @media (max-width: 576px) {
                    width: 100%;
                    float: unset;
                    margin-bottom: 30px;
                }
            }

            .form-send-group {
                float: right;

                @media (max-width: 576px) {
                    float: unset;
                    margin-bottom: 27px;
                    text-align: center;
                }

                .btn-modal-send {
                    padding: 5px 20px;
                    border-radius: 33px;
                    background: #004D9E;
                    font-weight: 600;
                    font-size: 22px;
                    line-height: 31px;
                    color: white;
                }
            }
        }
    }
}