.body-text {
    .text-container {
        display: grid;
        grid-template-columns: repeat(2, 45%);
        column-gap: 5%;
        margin-top: 80px;
        align-items: center;

        @media (max-width: 1024px) {
            grid-template-columns: 30% 65%;
        }

        @media (max-width: 768px) {
            margin-top: 70px;
            grid-template-columns: 1fr;
        }

        .text-header h1 {
            color: #004D9E;
            margin-bottom: 40px;
            text-align: center;

            @media (max-width: 768px) {
                font-size: calc(1.375rem + 2.35vw);
            }
        }

        .text-description p {
            color: #004D9E;
        }
    }
}