<div class="banner">
    <div class="banner-container">
        <p class="banner-title">Продукция Swagelok</p>
        <p class="banner-text">Мы производим и поставляем широкий диапазон продукции, предназначенной для применения в промышленных жидкостных и газовых системах. Компоненты и узлы жидкостных и газовых систем Swagelok широко используются в нефтегазовой, химической и нефтехимической, транспортной, полупроводниковой и строительной отраслях.</p>
        <button class="how-to-offer-btn" data-bs-toggle="modal" data-bs-target="#modalOffer">Как заказать?</button>
    </div>
</div>