<div class="categories">
    <div class="category-container">
        <p class="category-title">Категории</p>
        <div class="category-grid">
            <div class="category-frame">
                <div class="image">
                    <img src="/assets/categories/fittings.png" alt="">
                </div>
                <div class="description">
                    <p class="header">Фитинги</p>
                    <ul class="list">
                        <li><a>Трубные обжимные <!--noindex-->фитинги<!--/noindex--> под приварку переходники</a></li>
                        <li><a>Амортизирующие <!--noindex-->фитинги<!--/noindex--> для труб</a></li>
                        <li><a>Вакуумные фитинги Ultra-Torr</a></li>
                        <li><a>Диэлектрические <!--noindex-->фитинги<!--/noindex--> swagelok</a></li>
                        <li><a><!--noindex-->Трубные обжимные фитинги<!--/noindex--> среднего давления swagelok</a></li>
                        <li><a>Резьбовые товары</a></li>
                    <li><a>заглушки</a></li>
                    </ul>
                </div>
            </div>
            <div class="category-frame">
                <div class="image">
                    <img src="/assets/categories/valves.png" alt="">
                </div>
                <div class="description">
                    <p class="header">Клапаны</p>
                    <ul class="list">
                        <li><a>Быстроразъемные соединения swagelok</a></li>
                        <li><a>Игольчатые клапаны и клапаны тонкой регулировки</a></li>
                        <li><a>Клапанные блоки swagelok</a></li>
                        <li><a><!--noindex-->Клапаны<!--/noindex--> для напыления с точностью до атомного слоя (ALD)</a></li>
                        <li><a>Клапаны перехода от технологической линии (DBB)</a></li>
                        <li><a>Шаровые краны и вентил из нержавеющей стали</a></li>
                        <li><a>Манифольды</a></li>
                   </ul>
                </div>
            </div>
            <div class="category-frame">
                <div class="image">
                    <img src="/assets/categories/regulators.png" alt="">
                </div>
                <div class="description">
                    <p class="header">Регуляторы</p>
                    <ul class="list">
                        <li><a>Газовые <!--noindex-->регуляторы<!--/noindex--> высокой степени чистоты большого расхода, серии HF</a></li>
                        <li><a>Запасные части и вспомогательное оборудование swagelok</a></li>
                        <li><a>Регуляторы обратного <!--noindex-->давления<!--/noindex-->, куполовидные</a></li>
                        <li><a><!--noindex-->Регуляторы обратного давления<!--/noindex-->, подпружиненные</a></li>
                        <li><a>Редукторы давления, куполовидные</a></li>
                    </ul>
                </div>
            </div>
            <div class="category-frame">
                <div class="image">
                    <img src="/assets/categories/hoses.png" alt="">
                </div>
                <div class="description">
                    <p class="header">Шланги и гибкие трубки</p>
                    <ul class="list">
                        <li><a>Гибкие соединительные трубки</a></li>
                        <li><a>Запасные части, корпуса и вспомогательное оборудование</a></li>
                        <li><a>Резиновый <!--noindex-->шланг<!--/noindex--></a></li>
                        <li><a><!--noindex-->Шланг<!--/noindex--> с металлической центральной трубкой</a></li>
                        <li><a>Шланг с центральной трубкой из фторопласта (PTFE) и перфторалкокси (PFA)</a></li>
                        <li><a>Рукава высокого <!--noindex-->давления<!--/noindex--></a></li>

                   </ul>
                </div>
            </div>
            <div class="category-frame">
                <div class="image">
                    <img src="/assets/categories/tubes-and-accessories.png" alt="">
                </div>
                <div class="description">
                    <p class="header">Трубки и принадлежности</p>
                    <ul class="list">
                        <li><a>Обжимные инструменты</a></li>
                        <li><a>Резка и подготовка трубок</a></li>
                        <li><a>Система креплений</a></li>
                        <li><a>Трубогибы</a></li>
                    </ul>
                </div>
            </div>
            <div class="category-frame">
                <div class="image">
                    <img src="/assets/categories/filters.png" alt="">
                </div>
                <div class="description">
                    <p class="header">Фильтры</p>
                    <ul class="list">
                        <li><a>Газовые <!--noindex-->фильтры<!--/noindex--> сверхвысокой степени чистоты</a></li>
                        <li><a>Запасные части и вспомогательное оборудование</a></li>
                        <li><a>Коалесцирующие <!--noindex-->фильтры<!--/noindex--></a></li>
                        <li><a><!--noindex-->Фильтры<!--/noindex--> твердых частиц</a></li>
                    </ul>
                </div>
            </div>
            <div class="category-frame">
                <div class="image">
                    <img src="/assets/categories/sampling-cylinders.png" alt="">
                </div>
                <div class="description">
                    <p class="header">Пробоотборные цилиндры</p>
                    <ul class="list">
                        <li><a>Двухсторонние лабораторные <!--noindex-->цилиндры<!--/noindex--></a></li>
                        <li><a>Запасные части и вспомогательное оборудование</a></li>
                        <li><a>Односторонние <!--noindex-->цилиндры<!--/noindex--> swagelok</a></li>
                    </ul>
                </div>
            </div>
            <div class="category-frame">
                <div class="image">
                    <img src="/assets/categories/measuring-devices.png" alt="">
                </div>
                <div class="description">
                    <p class="header">Измерительные устройства</p>
                    <ul class="list">
                        <li><a><!--noindex-->Датчики<!--/noindex--> давления</a></li>
                        <li><a>Датчики потока</a></li>
                        <li><a>Защитные гильзы и аксессуары swagelok</a></li>
                        <li><a>Манометры</a></li>
                        <li><a>Ротаметры</a></li>
                        <li><a>Течеискатели и соединители</a></li>    
                        <li><a>Расходомеры</a></li>
                  </ul>
                </div>
            </div>
        </div>
    </div>
</div>
