<div class="categories">
    <div class="category-container">
        <p class="category-title">Категории</p>
        <div class="category-grid">
            <div class="category-frame">
                <div class="image">
                    <img src="/assets/categories/fittings.png" alt="">
                </div>
                <div class="description">
                    <p class="header">Фитинги</p>
                    <ul class="list">
                        <li>Трубные обжимные фитинги и переходники</li>
                        <li>Амортизирующие фитинги</li>
                        <li>Вакуумные фитинги Ultra-Torr</li>
                        <li>Диэлектрические фитинги</li>
                        <li>Трубные обжимные фитинги среднего давления</li>
                    </ul>
                </div>
            </div>
            <div class="category-frame">
                <div class="image">
                    <img src="/assets/categories/valves.png" alt="">
                </div>
                <div class="description">
                    <p class="header">Клапаны</p>
                    <ul class="list">
                        <li>Быстроразъемные соединения</li>
                        <li>Игольчатые клапаны и клапаны тонкой регулировки</li>
                        <li>Клапанные блоки</li>
                        <li>Клапаны для напыления с точностью до атомного слоя (ALD)</li>
                        <li>Клапаны перехода от технологической линии (DBB)</li>
                    </ul>
                </div>
            </div>
            <div class="category-frame">
                <div class="image">
                    <img src="/assets/categories/regulators.png" alt="">
                </div>
                <div class="description">
                    <p class="header">Регуляторы</p>
                    <ul class="list">
                        <li>Газовые регуляторы высокой степени чистоты большого расхода, серии HF</li>
                        <li>Запасные части и вспомогательное оборудование</li>
                        <li>Регуляторы обратного давления, куполовидные</li>
                        <li>Регуляторы обратного давления, подпружиненные</li>
                        <li>Редукторы давления, куполовидные</li>
                    </ul>
                </div>
            </div>
            <div class="category-frame">
                <div class="image">
                    <img src="/assets/categories/hoses.png" alt="">
                </div>
                <div class="description">
                    <p class="header">Шланги и гибкие трубки</p>
                    <ul class="list">
                        <li>Гибкие трубки</li>
                        <li>Запасные части и вспомогательное оборудование</li>
                        <li>Резиновый шланг</li>
                        <li>Шланг с металлической центральной трубкой</li>
                        <li>Шланг с центральной трубкой из фторопласта (PTFE) и перфторалкокси (PFA)</li>
                    </ul>
                </div>
            </div>
            <div class="category-frame">
                <div class="image">
                    <img src="/assets/categories/tubes-and-accessories.png" alt="">
                </div>
                <div class="description">
                    <p class="header">Трубки и принадлежности</p>
                    <ul class="list">
                        <li>Обжимные инструменты</li>
                        <li>Резка и подготовка трубок</li>
                        <li>Система креплений</li>
                        <li>Трубки</li>
                        <li>Трубогибы</li>
                    </ul>
                </div>
            </div>
            <div class="category-frame">
                <div class="image">
                    <img src="/assets/categories/filters.png" alt="">
                </div>
                <div class="description">
                    <p class="header">Фильтры</p>
                    <ul class="list">
                        <li>Газовые фильтры сверхвысокой степени чистоты</li>
                        <li>Запасные части и вспомогательное оборудование</li>
                        <li>Коалесцирующие фильтры</li>
                        <li>Фильтры твердых частиц</li>
                    </ul>
                </div>
            </div>
            <div class="category-frame">
                <div class="image">
                    <img src="/assets/categories/sampling-cylinders.png" alt="">
                </div>
                <div class="description">
                    <p class="header">Пробоотборные цилиндры</p>
                    <ul class="list">
                        <li>Двухсторонние цилиндры</li>
                        <li>Запасные части и вспомогательное оборудование</li>
                        <li>Односторонние цилиндры</li>
                    </ul>
                </div>
            </div>
            <div class="category-frame">
                <div class="image">
                    <img src="/assets/categories/measuring-devices.png" alt="">
                </div>
                <div class="description">
                    <p class="header">Измерительные устройства</p>
                    <ul class="list">
                        <li>Датчики давления</li>
                        <li>Датчики потока</li>
                        <li>Защитные гильзы</li>
                        <li>Манометры</li>
                        <li>Ротаметры</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>