<div class="how-to-offer">
    <div class="h-t-o-container">
        <button class="how-to-offer-btn-bottom" data-bs-toggle="modal" data-bs-target="#modalOffer">Как заказать?</button>
    </div>
</div>