<div class="body-text">
    <div class="text-container">
        <div class="text-header">
            <h1>О компании Swagelok</h1>
        </div>
        <div class="text-description">
            <p>Корпорация Swagelok является крупным производителем : нефтегазовой , химической, и нефтехимической промышленных отраслях и обладает широким каталогом продукции: <!--noindex-->фитингами, <!--/noindex--> клапанами, регуляторами, шлангами, цилиндрами для образцов, а также в этот список входят различные измерительные приборы и трубки</p>
            <p>Swagelok начинает свою историю с 1947 года, основана в Сша. В 1949 году, открылся первый центр обслуживания. К 1969 году компания расширилась до Европы, а к 1972 уже покорила Азию</p>
        </div>
    </div>
</div>