<div class="body-text">
    <div class="text-container">
        <div class="text-header">
            <h1>Продукция Swagelok</h1>
        </div>
        <div class="text-description">
            <p>Продукция <!--noindex-->Swagelok<!--/noindex--> для производства в нефтегазовой, химической, и нефтехимической промышленных отраслях и обладает широким каталогом продукции: <!--noindex-->фитингами, <!--/noindex--> клапанами, регуляторами, шлангами, цилиндрами для образцов, а также в этот список входят различные измерительные приборы и трубки</p>
        </div>
    </div>
</div>
