<div class="body-text">
    <div class="text-container" style="display: grid; grid-template-columns: repeat(2, 45%); column-gap: 5%; margin-top: 80px; align-items: center;">
        <div>
            <h1 style="color: #004D9E; margin-bottom: 40px;">О компании Swagelok</h1>
        </div>
        <div>
            <p style="color: #004D9E;">Корпорация Swagelok является крупным производителем : нефтегазовой , химической, и нефтехимической промышленных отраслях и обладает широким каталогом продукции: <!--noindex-->фитингами, <!--/noindex--> клапанами, регуляторами, шлангами, цилиндрами для образцов, а также в этот список входят различные измерительные приборы и трубки</p>
            <p style="color: #004D9E;">Swagelok начинает свою историю с 1947 года, основана в Сша. В 1949 году, открылся первый центр обслуживания. К 1969 году компания расширилась до Европы, а к 1972 уже покорила Азию</p>
        </div>
    </div>
</div>